<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/details/:EmpID" method="get">
    <input type ="text" name="bhadva">
    <button>click</button>

    <div class="container">
         {{#each doc }}
        <p>{{this.Ponum}}</p>
        <p>{{this.Podate}}</p>
        {{/each}}
    </div>





    </form>
</body>
</html>