<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="entry.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>

<body>
    <h1>USER PAGE</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="main">
                    <div class="service">
                        <div class="service-logo">
                            <img src="emp.png" alt="">
                        </div>
                        <h4><a href="/emp">EMPLOYEE</a></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet temporibus, sint laboriosam eos
                            ea sunt inventore numquam expedita sed est, facilis vero, tempora officiis? Debitis ad
                            dolorem sequi eveniet, dolorum vero reiciendis.</p>
                    </div>
                    <div class="shadowOne"></div>
                    <div class="shadowTwo"></div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="main">
                    <div class="service">
                        <div class="service-logo">
                            <img src="pro.png" alt="">
                        </div>
                        <h4> <a href="/prodet">PROJECT</a></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet temporibus, sint laboriosam eos
                            ea sunt inventore numquam expedita sed est, facilis vero, tempora officiis? Debitis ad
                            dolorem sequi eveniet, dolorum vero reiciendis.</p>
                    </div>
                    <div class="shadowOne"></div>
                    <div class="shadowTwo"></div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="main">
                    <div class="service">
                        <div class="service-logo">
                            <img src="pay.png" alt="noooo">
                        </div>
                        <h4><a href="/paydet/:EmpID">PAYMENT</a></h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet temporibus, sint laboriosam eos
                            ea sunt inventore numquam expedita sed est, facilis vero, tempora officiis? Debitis ad
                            dolorem sequi eveniet, dolorum vero reiciendis.</p>
                    </div>
                    <div class="shadowOne"></div>
                    <div class="shadowTwo"></div>

                </div>
            </div>
        </div>
    </div>




</body>

</html>