<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/total" method="post">
        <div class="pan">

            <div class="haj">
                        


                <label>ENTER PROJECTS NAME</label>



                <input type="text" placeholder="Enter project name" name="total">
                <button>Add Projects</button>







            </div>

        </div>
    </form>



</body>

</html>